name: Publish To NPM

on:
  release:
    types:
      - created

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          version: 9.5.0

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      - run: pnpm install --frozen-lockfile --prefer-offline --ignore-scripts
      - run: pnpm test
      - run: pnpm build
      - run: NODE_AUTH_TOKEN="" npm publish
